@page
@model Project_PRN222_G5.Web.Pages.Cinema.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create Cinema</h1>

<h4>Cinema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CinemaDto.Name" class="control-label"></label>
                <input asp-for="CinemaDto.Name" class="form-control" />
                <span asp-validation-for="CinemaDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaDto.Address" class="control-label"></label>
                <input asp-for="CinemaDto.Address" class="form-control" />
                <span asp-validation-for="CinemaDto.Address" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
