@page
@model Project_PRN222_G5.Web.Pages.Cinema.IndexModel
@{
    ViewData["Title"] = "Cinema List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Cinema List</h1>

<div>
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New Cinema</a>
    </p>

    <form method="get" class="mb-3">
        <div class="input-group">
            <input type="text"
                   name="PagedRequest.Search"
                   value="@Model.PagedRequest.Search"
                   class="form-control"
                   placeholder="Search..." />
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
</div>

@await Html.PartialAsync("Shared/PartialViews/_GenericTable", new ViewDataDictionary(ViewData)
{
    { "Items", Model.PaginationResponse.Data! },
    { "Paging", Model.PaginationResponse.Paging },
    { "Request", Model.PagedRequest },
    { "DisplayProps", Model.DisplayProps }
})
