@page
@using Project_PRN222_G5.Web.Pages.Shared.PartialViews
@model CreateModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create User</h1>

@await Html.PartialAsync("Shared/PartialViews/_GenericForm", new _GenericFormModel
{
    Data = Model.Input,
    ExtraSelectLists = new Dictionary<string, List<SelectListItem>>
    {
        ["Role"] = Model.Roles
    }
})