@page
@model Project_PRN222_G5.Web.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create User</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Input.FullName" class="form-label"></label>
        <input name="Input.FullName" asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Username" class="form-label">Username</label>
        <input name="Input.Username" asp-for="Input.Username" class="form-control" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input name="Input.Email" asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Password" class="form-label">Password</label>
        <input name="Input.Password" asp-for="Input.Password" class="form-control" type="password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Role" class="form-label">Roles</label>
        <select name="Input.Role" asp-for="Input.Role" class="form-control">
            @foreach (var role in ((List<SelectListItem>)ViewData["Roles"]))
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}