@page
@model DetailsModel
@{
    ViewData["Title"] = "User Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>User Details</h1>

<partial name="Shared/PartialViews/_GenericDetail" model="@Model.User"/>