@page
@model IndexModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New User</a>
</p>

@await Html.PartialAsync("Shared/PartialViews/_GenericTable", new ViewDataDictionary(ViewData)
{
    { "Items", Model.PaginationResponse.Data! },
    { "Paging", Model.PaginationResponse.Paging },
    { "Request", Model.PagedRequest },
    { "DisplayProps", Model.DisplayProps }
})