@page
@using Project_PRN222_G5.Web.Pages.Shared
@model Project_PRN222_G5.Web.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Input.FullName" class="form-label">Full Name</label>
        <input asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Username" class="form-label">Username</label>
        <input name="Input.Username" asp-for="Input.Username" class="form-control" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input name="Input.Email" asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Password" class="form-label">Password</label>
        <input name="Input.Password" asp-for="Input.Password" class="form-control" type="password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input name="Input.ConfirmPassword" asp-for="Input.ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Input.Role" class="form-label">Role</label>
        <select asp-for="Input.Role" asp-items="@Model.Roles" class="form-control">
            <option value="">-- Select Role --</option>
        </select>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a asp-page="@PageRoutes.Auth.Login" class="btn btn-secondary">Sign In</a>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}