@model Project_PRN222_G5.BusinessLogic.DTOs.Cinema.Response.CinemaResponse

@{
    ViewData["Title"] = "Cinema Details";
}

<h1>Cinema Details</h1>

<div class="card mt-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">@Model.Address</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
