@page
@model Project_PRN222_G5.Web.Areas.Admin.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete User";
    Layout = "_Layout";
}

<h1>Delete User</h1>

<partial name="PartialViews/_GenericDelete" model="Model.User" />