@page "{id:guid}"
@using Project_PRN222_G5.Web.Views.Shared.PartialViews
@model EditModel
@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

@await Html.PartialAsync("PartialViews/_GenericForm", new _GenericFormModel()
{
    Data = Model.Input,
    ExtraSelectLists = new Dictionary<string, List<SelectListItem>>
    {
        ["Gender"] = Model.Genders
    }
})