@page "{id:guid}"
@model Project_PRN222_G5.Web.Areas.Staff.Pages.Cinema.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Cinema</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CinemaId" />
    <div class="form-group">
        <label asp-for="CinemaDto.Name" class="control-label"></label>
        <input asp-for="CinemaDto.Name" class="form-control" />
        <span asp-validation-for="CinemaDto.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CinemaDto.Address" class="control-label"></label>
        <input asp-for="CinemaDto.Address" class="form-control" />
        <span asp-validation-for="CinemaDto.Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
